<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="projet1-stampee">
    <title>ENCHÈRES</title>
    <link rel="stylesheet" href="../assets/css/products.css">
</head>
<body>
    <!--top-menu-->
    <nav class="wrapper">
        <ul>
            <li class="{{ user ? '' : 'hide' }}"><a href="{{ url_racine }}/user/profil"><img src="../assets/icons/account.svg" alt="account"><span>{{ user.user_prenom|title }} {{ user.user_nom|title }}</span></a></li>
            <li class="{{ user ? '' : 'hide' }}"><a href="{{ url_racine }}/user/login">DÉCONNECTER</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="{{ url_racine }}/user/login">CONNEXION</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="{{ url_racine }}/user/signup">INSCRIPTION</a></li>
            <li><a href="#">CONTACTEZ-NOUS</a></li>
            <li><a href="#"><img src="../assets/icons/language.svg" alt="language"><span class="active">FR</span></a></li>
        </ul>
    </nav>
    <!--header--main-menu-->
    <header class="wrapper">
        <!--logo-->
        <div class="logo">
            <h1><a href="{{ url_racine }}/">Stampee</a></h1>
        </div>
        <!--nav-->
        <div class="headerNav">
            <ul>
                <li><a href="{{ url_racine }}/stamp/lister">TIMBRES</a></li>
                <li><a class="active" href="{{ url_racine }}/auction/lister">ENCHÈRES</a></li>
                <li><a href="{{ url_racine }}/home/about">SUR NOUS</a></li>
            </ul>
        </div>
        <!--search-->
        <div class="headerSearch">
            <input type="text" placeholder="search">
            <a href="#"></a>
        </div>
        <!--notification-->
        <div class="notification">
            <a href="#"></a>
            <div class="number">5</div>
        </div>
    </header>
    <!--breadcrumb-->
    <aside class="breadcrumb wrapper">
        <ul>
            <li><a href="{{ url_racine }}/">ACCUEIL</a> ></li>
            <li><a class="active" href="{{ url_racine }}/auction/lister">ENCHÈRES</a></li>
        </ul>
    </aside>
    <!--main-->
    <main class="wrapper">
        <!--filter-->
        <section class="filter">
            <!--form of the filter-->
            <form action="" name="filter" id="formFilter">
                <h2>Sélection</h2>
                <label for="start_date">Date de début:</label>
                <input type="date" name="start_date" id="start_date">
                <label for="end_date">Date de fin:</label>
                <input type="date" name="end_date" id="end_date">
                <fieldset>
                    <legend>Fourchette de prix :</legend>
                    <label for="minP">Minimum</label>
                    <input type="number" name="minP" id="minP" placeholder="9.99">
                    <label for="maxP">Maximum</label>
                    <input type="number" name="maxP" id="maxP" placeholder="999.99">
                </fieldset>
                <input type="reset" value="Rétablir">
            </form>
        </section>
        <!--list of products-->
        <section class="content">
            <div class="grid"><button id="grid-list">Grille / Liste</button></div>
            <ul id="products">
                {% for auction in auctions %}
                <li>
                    <article>
                        <a href="{{ url_racine }}/auction/instance/{{ auction.au_id }}">
                            <div class="pic"><img src="../assets/images/{{ auction.photo_name }}" alt="image pour {{ auction.st_title }}"></div>
                            <div class="txt">
                                <h3>Heure de début:<br> <span>{{ auction.au_start_date }}</span></h3>
                                <p>Ouvert pour miser jusqu'à <span>{{ auction.au_end_date }}</span></p>
                                <p class="price">Prix de départ: <span>{{ auction.au_prix_plancher }}</span> $</p>
                                {% if auction.au_user_id != user.user_id %}    
                                <a class="panier" href="{{ url_racine }}{{ user ? '/user/miser/' ~ auction.au_id : '/user/login' }}">Placer un mise</a>
                                {% else %}
                                <a class="panier" href="{{ url_racine }}/auction/modifier/{{ auction.au_id }}"> Modifier </a>
                                {% endif %}
                            </div>
                        </a>
                        {% if auction.au_lord %}
                        <div class="promo">Coups de coeur de Lord</div>
                        {% endif %}
                    </article>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <!--footer-->
    <footer class="wrapper">
        <!--about-->
        <div>
            <dl>
                <dt>À PROPOS DE NOUS</dt>
                <dd><a href="#">Général</a></dd>
                <dd><a href="#">Sur Stampee</a></dd>
                <dd><a href="#">Annonces</a></dd>
                <dd><a href="#">Visitez-nous</a></dd>
            </dl>
        </div>
        <!--sitemap-->
        <div>
            <dl>
                <dt>PLAN DU SITE</dt>
                <dd><a href="{{ url_racine }}/">Accueil</a></dd>
                <dd><a href="{{ url_racine }}/stamp/lister">Timbres</a></dd>
                <dd><a class="active" href="{{ url_racine }}/auction/lister">Enchères</a></dd>
                <dd><a href="{{ url_racine }}/home/about">Sur nous</a></dd>
            </dl>
        </div>
        <!--moreinfo-->
        <div>
            <dl>
                <dt>PLUS D'INFORMATION</dt>
                <dd><a href="#">Politique de confidentialité</a></dd>
                <dd><a href="#">Pré-enchères</a></dd>
                <dd><a href="#">Pendant enchères</a></dd>
                <dd><a href="#">Après enchères</a></dd>
            </dl>
        </div>
        <!--contact-->
        <div>
            <dl>
                <dt>CONTACT</dt>
                <dd>Stampee LTD</dd>
                <dd>3-3333 PIE-IX</dd>
                <dd>Montréal, QC</dd>
                <dd><a href="#">services@stampee.ca</a></dd>
            </dl>
            <ul>
                <li><a href="#"><img src="../assets/icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="../assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="../assets/icons/youtube.svg" alt="youtube"></a></li>
                <li><a href="#"><img src="../assets/icons/instagram.svg" alt="instagram"></a></li>
            </ul>
        </div>
    </footer>
<script>
    let list = document.getElementById('products').children;

    //inputs from the form 'filter'
    let start_date, end_date, minP, maxP;
    let values = [];

    const frm = document.getElementById('formFilter');
    frm.addEventListener('change', filterFunction);
    frm.addEventListener('reset', resetFunction);

    //loop through the list to hide all unsearched items
    function filterFunction(){
        start_date = document.getElementById('start_date').value;
        end_date = document.getElementById('end_date').value;
        minP = parseInt(document.getElementById('minP').value);
        maxP = parseInt(document.getElementById('maxP').value);

        for (let i = 0 ; i < list.length ; i++){
            values = list[i].getElementsByTagName('span');
            if ( start_date && ( (new Date(values[0].innerText)) < (new Date(start_date)) )) { list[i].style.display = 'none'; }
            if ( end_date && ( (new Date(values[1].innerText)) > (new Date(end_date)))) { list[i].style.display = 'none'; }
            if ( minP && ( parseInt(values[2].innerText) < minP )){ list[i].style.display = 'none'; }
            if ( maxP && ( parseInt(values[2].innerText) > maxP )){ list[i].style.display = 'none'; }
        }
    }

    function resetFunction(){
        for (let i = 0 ; i < list.length ; i++){
            list[i].style.display = 'block';
        }
    }
</script>
</body>
</html>