<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="projet1-stampee">
    <title>ENCHÈRES</title>
    <link rel="stylesheet" href="../assets/css/products.css">
</head>
<body>
    <!--top-menu-->
    <nav class="wrapper">
        <ul>
            <li class="{{ user ? '' : 'hide' }}"><a href="/user/profil"><img src="../assets/icons/account.svg" alt="account"><span>{{ user.user_prenom|title }} {{ user.user_nom|title }}</span></a></li>
            <li class="{{ user ? '' : 'hide' }}"><a href="/user/login">DÉCONNECTER</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="/user/login">CONNEXION</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="/user/signup">INSCRIPTION</a></li>
            <li><a href="#">CONTACTEZ-NOUS</a></li>
            <li><a href="#"><img src="../assets/icons/language.svg" alt="language"><span class="active">FR</span></a></li>
        </ul>
    </nav>
    <!--header--main-menu-->
    <header class="wrapper">
        <!--logo-->
        <div class="logo">
            <h1><a href="/">Stampee</a></h1>
        </div>
        <!--nav-->
        <div class="headerNav">
            <ul>
                <li><a href="/stamp/lister">TIMBRES</a></li>
                <li><a class="active" href="/auction/lister">ENCHÈRES</a></li>
                <li><a href="/home/about">SUR NOUS</a></li>
            </ul>
        </div>
        <!--search-->
        <div class="headerSearch">
            <input type="text" placeholder="search">
            <a href="#"></a>
        </div>
        <!--notification-->
        <div class="notification">
            <a href="#"></a>
            <div class="number">5</div>
        </div>
    </header>
    <!--breadcrumb-->
    <aside class="breadcrumb wrapper">
        <ul>
            <li><a href="/">ACCUEIL</a> ></li>
            <li><a class="active" href="/auction/lister">ENCHÈRES</a></li>
        </ul>
    </aside>
    <!--main-->
    <main class="wrapper">
        <!--filter-->
        <section class="filter">
            <!--form of the filter-->
            <form action="" name="filter">
                <h2>Sélection</h2>
                <label for="start_date">Date de début:</label>
                <input type="date" name="start_date" id="start_date">
                <label for="end_date">Date de fin:</label>
                <input type="date" name="end_date" id="end_date">
                <fieldset>
                    <legend>Fourchette de prix :</legend>
                    <label for="minP">Minimum</label>
                    <input type="text" name="minP" id="minP" placeholder="9.99">
                    <label for="maxP">Maximum</label>
                    <input type="text" name="maxP" id="maxP" placeholder="999.99">
                </fieldset>
                <input type="reset" value="Rétablir">
                <input type="submit" value="Soumettre">
            </form>
        </section>
        <!--list of products-->
        <section class="content">
            <div class="grid"><button id="grid-list">Grille / Liste</button></div>
            <ul id="products">
                {% for auction in auctions %}
                <li>
                    <article>
                        <a href="/auction/instance/{{ auction.au_id }}">
                            <div class="pic"><img src="../assets/images/{{ auction.photo_name }}" alt="image pour {{ auction.st_title }}"></div>
                            <div class="txt">
                                <h3>Heure de début:<br> {{ auction.au_start_date }}</h3>
                                <p>Ouvert pour miser jusqu'à <span>{{ auction.au_end_date }}</span></p>
                                <p class="price">Prix de départ: <span>{{ auction.au_prix_plancher }}</span> $</p>
                                {% if auction.au_user_id != user.user_id %}    
                                <a class="panier" href="#">Placer un mise</a>
                                {% else %}
                                <a class="panier" href="/auction/modifier/{{ auction.au_id }}"> Modifier </a>
                                {% endif %}
                            </div>
                        </a>
                        {% if auction.au_lord %}
                        <div class="promo">Coups de coeur de Lord</div>
                        {% endif %}
                    </article>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <!--footer-->
    <footer class="wrapper">
        <!--about-->
        <div>
            <dl>
                <dt>À PROPOS DE NOUS</dt>
                <dd><a href="#">Général</a></dd>
                <dd><a href="#">Sur Stampee</a></dd>
                <dd><a href="#">Annonces</a></dd>
                <dd><a href="#">Visitez-nous</a></dd>
            </dl>
        </div>
        <!--sitemap-->
        <div>
            <dl>
                <dt>PLAN DU SITE</dt>
                <dd><a href="/">Accueil</a></dd>
                <dd><a href="/stamp/lister">Timbres</a></dd>
                <dd><a class="active" href="/auction/lister">Enchères</a></dd>
                <dd><a href="/home/about">Sur nous</a></dd>
            </dl>
        </div>
        <!--moreinfo-->
        <div>
            <dl>
                <dt>PLUS D'INFORMATION</dt>
                <dd><a href="#">Politique de confidentialité</a></dd>
                <dd><a href="#">Pré-enchères</a></dd>
                <dd><a href="#">Pendant enchères</a></dd>
                <dd><a href="#">Après enchères</a></dd>
            </dl>
        </div>
        <!--contact-->
        <div>
            <dl>
                <dt>CONTACT</dt>
                <dd>Stampee LTD</dd>
                <dd>3-3333 PIE-IX</dd>
                <dd>Montréal, QC</dd>
                <dd><a href="#">services@stampee.ca</a></dd>
            </dl>
            <ul>
                <li><a href="#"><img src="../assets/icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="../assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="../assets/icons/youtube.svg" alt="youtube"></a></li>
                <li><a href="#"><img src="../assets/icons/instagram.svg" alt="instagram"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>