<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="projet1-stampee">
    <title>TIMBRE</title>
    <link rel="stylesheet" href="../../assets/css/products.css">
</head>
<body>
    <!--top-menu-->
    <nav class="wrapper">
        <ul>
            <li class="{{ user ? '' : 'hide' }}"><a href="/user/profil"><img src="../../assets/icons/account.svg" alt="account"><span>{{ user.user_prenom|title }} {{ user.user_nom|title }}</span></a></li>
            <li class="{{ user ? '' : 'hide' }}"><a href="/user/login">DÉCONNECTER</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="/user/login">CONNEXION</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="/user/signup">INSCRIPTION</a></li>
            <li><a href="#">CONTACTEZ-NOUS</a></li>
            <li><a href="#"><img src="../../assets/icons/language.svg" alt="language"><span class="active">FR</span></a></li>
        </ul>
    </nav>
    <!--header--main-menu-->
    <header class="wrapper">
        <!--logo-->
        <div class="logo">
            <h1><a href="/">Stampee</a></h1>
        </div>
        <!--nav-->
        <div class="headerNav">
            <ul>
                <li><a class="active" href="/stamp/lister">TIMBRES</a></li>
                <li><a href="/auction/lister">ENCHÈRES</a></li>
                <li><a href="/home/about">SUR NOUS</a></li>
            </ul>
        </div>
        <!--search-->
        <div class="headerSearch">
            <input type="text" placeholder="search">
            <a href="#"></a>
        </div>
        <!--notification-->
        <div class="notification">
            <a href="#"></a>
            <div class="number">5</div>
        </div>
    </header>
    <!--breadcrumb-->
    <aside class="breadcrumb wrapper">
        <ul>
            <li><a href="/">ACCUEIL</a> ></li>
            <li><a href="/stamp/lister">TIMBRES</a> ></li>
            <li><a class="active" href="/stamp/ajouter/{{ st_id }}">Ajouter timbre {{ st_id }}</a></li>
        </ul>
    </aside>
    <!--main-->
    <main class="wrapper">
        <!--ajouter un timbre-->
        <section class="filter">
            <!--form of the filter-->
            <form enctype="multipart/form-data" action="trasmete.php" name="ajouter_timbre" method="post">
                <h2>Ajouter un timbre</h2>
                <!-- MAX_FILE_SIZE must precede the file input field -->
                <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                <label for="image_timbre">Téléverser une image</label>
                <input type="file" name="image_timbre" id="image_timbre">
                <label for="start_date">Titre du timbre:</label>
                <input type="date" name="start_date" id="start_date">
                <fieldset>
                    <legend>Fourchette de prix :</legend>
                    <label for="minP">Minimum</label>
                    <input type="text" name="minP" id="minP" placeholder="9.99">
                    <label for="maxP">Maximum</label>
                    <input type="text" name="maxP" id="maxP" placeholder="999.99">
                </fieldset>
                <input type="reset" value="Rétablir">
                <input type="submit" value="Soumettre">
            </form>
        </section>
    </main>        
    <!--footer-->
    <footer class="wrapper">
        <!--about-->
        <div>
            <dl>
                <dt>À PROPOS DE NOUS</dt>
                <dd><a href="#">Général</a></dd>
                <dd><a href="#">Sur Stampee</a></dd>
                <dd><a href="#">Annonces</a></dd>
                <dd><a href="#">Visitez-nous</a></dd>
            </dl>
        </div>
        <!--sitemap-->
        <div>
            <dl>
                <dt>PLAN DU SITE</dt>
                <dd><a href="/">Accueil</a></dd>
                <dd><a class="active" href="/stamp/lister">Timbres</a></dd>
                <dd><a href="/auction/lister">Enchères</a></dd>
                <dd><a href="/home/about">Sur nous</a></dd>
            </dl>
        </div>
        <!--moreinfo-->
        <div>
            <dl>
                <dt>PLUS D'INFORMATION</dt>
                <dd><a href="#">Politique de confidentialité</a></dd>
                <dd><a href="#">Pré-enchères</a></dd>
                <dd><a href="#">Pendant enchères</a></dd>
                <dd><a href="#">Après enchères</a></dd>
            </dl>
        </div>
        <!--contact-->
        <div>
            <dl>
                <dt>CONTACT</dt>
                <dd>Stampee LTD</dd>
                <dd>3-3333 PIE-IX</dd>
                <dd>Montréal, QC</dd>
                <dd><a href="#">services@stampee.ca</a></dd>
            </dl>
            <ul>
                <li><a href="#"><img src="../../assets/icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="../../assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="../../assets/icons/youtube.svg" alt="youtube"></a></li>
                <li><a href="#"><img src="../../assets/icons/instagram.svg" alt="instagram"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>