<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="projet1-stampee">
    <title>TIMBRES</title>
    <link rel="stylesheet" href="../assets/css/products.css">
</head>
<body>
    <!--top-menu-->
    <nav class="wrapper">
        <ul>
            <li class="{{ user ? '' : 'hide' }}"><a href="/user/profil"><img src="../assets/icons/account.svg" alt="account"><span>{{ user.user_prenom|title }} {{ user.user_nom|title }}</span></a></li>
            <li class="{{ user ? '' : 'hide' }}"><a href="/user/login">DÉCONNECTER</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="/user/login">CONNEXION</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="/user/signup">INSCRIPTION</a></li>
            <li><a href="#">CONTACTEZ-NOUS</a></li>
            <li><a href="#"><img src="../assets/icons/language.svg" alt="language"><span class="active">FR</span></a></li>
        </ul>
    </nav>
    <!--header--main-menu-->
    <header class="wrapper">
        <!--logo-->
        <div class="logo">
            <h1><a href="/">Stampee</a></h1>
        </div>
        <!--nav-->
        <div class="headerNav">
            <ul>
                <li><a class="active" href="/stamp/lister">TIMBRES</a></li>
                <li><a href="/auction/lister">ENCHÈRES</a></li>
                <li><a href="/home/about">SUR NOUS</a></li>
            </ul>
        </div>
        <!--search-->
        <div class="headerSearch">
            <input type="text" placeholder="search">
            <a href="#"></a>
        </div>
        <!--notification-->
        <div class="notification">
            <a href="#"></a>
            <div class="number">5</div>
        </div>
    </header>
    <!--breadcrumb-->
    <aside class="breadcrumb wrapper">
        <ul>
            <li><a href="/">ACCUEIL</a> ></li>
            <li><a class="active" href="/stamp/lister">TIMBRES</a></li>
        </ul>
    </aside>
    <!--main-->
    <main class="wrapper">
        <!--filter-->
        <section class="filter">
            <!--form of the filter-->
            <form action="" name="filter">
                <h2>Sélection</h2>
                <label for="continent">Continent</label>
                <input type="text" name="continent" id="continent" placeholder="choisissez dans la liste" list="liste-continents">
                <label for="pay">Pay</label>
                <input type="text" name="pay" id="pay" placeholder="choisissez dans la liste" list="liste-pays">
                <label for="date">Se terminer avant:</label>
                <input type="date" name="date" id="date">
                <fieldset>
                    <legend>Fourchette de prix :</legend>
                    <label for="minP">Minimum</label>
                    <input type="text" name="minP" id="minP" placeholder="9.99">
                    <label for="maxP">Maximum</label>
                    <input type="text" name="maxP" id="maxP" placeholder="999.99">
                </fieldset>
                <label for="condition">Condition</label>
                <select id="condition" name="condition[]">
                    <option value="Parfaite">Parfaite</option>
                    <option value="Excellente">Excellente</option>
                    <option value="Bonne">Bonne</option>
                    <option value="Moyenne">Moyenne</option>
                    <option value="Endommagé">Endommagé</option>
                </select>
                <input type="reset" value="Rétablir">
                <input type="submit" value="Soumettre">
            </form>
        </section>
        <!--list of products-->
        <section class="content">
            <div class="grid"><button id="grid-list">Grille / Liste</button></div>
            <ul id="products">
                {% for stamp in stamps %}
                <li>
                    <article>
                        <a href="/stamp/instance/{{ stamp.st_id }}">
                            <div class="pic"><img src="../assets/images/{{ stamp.photo_name}}" alt="image pour {{ stamp.st_title }}"></div>
                            <div class="txt">
                                <h3>{{ stamp.st_title|title }}</h3>
                                <p>{{ stamp.st_description }}</p>
                                <p class="price">Prix de départ: <span>{{ stamp.st_start_price }}</span> $</p>
                                {% if stamp.au_user_id != user.user_id %}
                                <a class="panier" href="{{ user ? '#' : '/user/login' }}">Placer un mise</a>
                                {% else %}
                                <a class="panier" href="/stamp/modifier/{{ stamp.st_id }}"> Modifier </a>
                                {% endif %}
                            </div>
                        </a>
                        <div class="promo">{{ stamp.st_condition }}</div>
                    </article>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <!--footer-->
    <footer class="wrapper">
        <!--about-->
        <div>
            <dl>
                <dt>À PROPOS DE NOUS</dt>
                <dd><a href="#">Général</a></dd>
                <dd><a href="#">Sur Stampee</a></dd>
                <dd><a href="#">Annonces</a></dd>
                <dd><a href="#">Visitez-nous</a></dd>
            </dl>
        </div>
        <!--sitemap-->
        <div>
            <dl>
                <dt>PLAN DU SITE</dt>
                <dd><a href="/">Accueil</a></dd>
                <dd><a class="active" href="/stamp/lister">Timbres</a></dd>
                <dd><a href="/auction/lister">Enchères</a></dd>
                <dd><a href="/home/about">Sur nous</a></dd>
            </dl>
        </div>
        <!--moreinfo-->
        <div>
            <dl>
                <dt>PLUS D'INFORMATION</dt>
                <dd><a href="#">Politique de confidentialité</a></dd>
                <dd><a href="#">Pré-enchères</a></dd>
                <dd><a href="#">Pendant enchères</a></dd>
                <dd><a href="#">Après enchères</a></dd>
            </dl>
        </div>
        <!--contact-->
        <div>
            <dl>
                <dt>CONTACT</dt>
                <dd>Stampee LTD</dd>
                <dd>3-3333 PIE-IX</dd>
                <dd>Montréal, QC</dd>
                <dd><a href="#">services@stampee.ca</a></dd>
            </dl>
            <ul>
                <li><a href="#"><img src="../assets/icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="../assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="../assets/icons/youtube.svg" alt="youtube"></a></li>
                <li><a href="#"><img src="../assets/icons/instagram.svg" alt="instagram"></a></li>
            </ul>
        </div>
    </footer>
	<datalist id="liste-continents">
		<option value="Afrique"></option>
		<option value="Amérique"></option>
		<option value="Antarctique"></option>
        <option value="Asie"></option>
        <option value="Europe"></option>
        <option value="Océanie"></option>
	</datalist>
	<datalist id="liste-pays">
        <option value="Allemagne"></option>
        <option value="Australie"></option>
        <option value="Brésil"></option>
		<option value="Canada"></option>
        <option value="Chine"></option>
		<option value="Danemark"></option>
        <option value="Égypte"></option>
        <option value="États-Unis"></option>
		<option value="France"></option>
        <option value="Inde"></option>
        <option value="Japon"></option>
        <option value="Mexique"></option>
        <option value="Royaume-Uni"></option>
        <option value="Russie"></option>
        <option value="Suisse"></option>
        <option value="Viêt Nam"></option>
	</datalist>
</body>
</html>