<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="projet1-stampee">
    <title>TIMBRES</title>
    <link rel="stylesheet" href="../assets/css/products.css">
</head>
<body>
    <!--top-menu-->
    <nav class="wrapper">
        <ul>
            <li class="{{ user ? '' : 'hide' }}"><a href="{{ url_racine }}/user/profil"><img src="../assets/icons/account.svg" alt="account"><span>{{ user.user_prenom|title }} {{ user.user_nom|title }}</span></a></li>
            <li class="{{ user ? '' : 'hide' }}"><a href="{{ url_racine }}/user/login">DÉCONNECTER</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="{{ url_racine }}/user/login">CONNEXION</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="{{ url_racine }}/user/signup">INSCRIPTION</a></li>
            <li><a href="#">CONTACTEZ-NOUS</a></li>
            <li><a href="#"><img src="../assets/icons/language.svg" alt="language"><span class="active">FR</span></a></li>
        </ul>
    </nav>
    <!--header--main-menu-->
    <header class="wrapper">
        <!--logo-->
        <div class="logo">
            <h1><a href="{{ url_racine }}/">Stampee</a></h1>
        </div>
        <!--nav-->
        <div class="headerNav">
            <ul>
                <li><a class="active" href="{{ url_racine }}/stamp/lister">TIMBRES</a></li>
                <li><a href="{{ url_racine }}/auction/lister">ENCHÈRES</a></li>
                <li><a href="{{ url_racine }}/home/about">SUR NOUS</a></li>
            </ul>
        </div>
        <!--search-->
        <div class="headerSearch">
            <input type="text" placeholder="search" id="searchBox">
            <a href="#"></a>
        </div>
        <!--notification-->
        <div class="notification">
            <a href="#"></a>
            <div class="number">5</div>
        </div>
    </header>
    <!--breadcrumb-->
    <aside class="breadcrumb wrapper">
        <ul>
            <li><a href="{{ url_racine }}/">ACCUEIL</a> ></li>
            <li><a class="active" href="{{ url_racine }}/stamp/lister">TIMBRES</a></li>
        </ul>
    </aside>
    <!--main-->
    <main class="wrapper">
        <!--filter-->
        <section class="filter">
            <!--form of the filter-->
            <form action="" name="filter" id="formFilter">
                <h2>Sélection</h2>
                <label for="continent">Continent</label>
                <input type="text" name="continent" id="continent" placeholder="choisissez dans la liste" list="liste-continents">
                <label for="pay">Pay</label>
                <input type="text" name="pay" id="pay" placeholder="choisissez dans la liste" list="liste-pays">
                <fieldset>
                    <legend>Dimension (en centimètres) :</legend>
                    <label for="largeur">Largeur minimale</label>
                    <input type="number" name="largeur" id="largeur" placeholder="40">
                    <label for="hauteur">Hauteur minimale</label>
                    <input type="number" name="hauteur" id="hauteur" placeholder="20">
                </fieldset>
                <label for="condition">Condition</label>
                <input type="text" name="condition" id="condition" placeholder="choisissez dans la liste" list="liste-condition">
                <label for="couleur">Couleur principale</label>
                <input type="text" name="couleur" id="couleur" placeholder="choisissez dans la liste" list="liste-couleurs">
                <label for="categorie">Catégorie</label>
                <select id="categorie" name="categorie">
                    <option value="" selected disabled hidden>choisissez dans la liste</option>
                    {% for category in categories %}
                    <option value="{{ category.cat_id}}">{{ category.cat_name }}</option>
                    {% endfor %}
                </select>
                <input type="reset" value="Rétablir">
            </form>
        </section>
        <!--list of products-->
        <section class="content">
            <div class="grid"><button id="grid-list">Grille / Liste</button></div>
            <ul id="products">
                {% for stamp in stamps %}
                <li>
                    <!--pass the array stamp to javascript-->
                    {% set dataObjects = stamp %}
                    <div class="hide" data-stamp="{{ dataObjects|json_encode() }}"></div>
                    <!--item to display-->
                    <article>
                        <a href="{{ url_racine }}/stamp/instance/{{ stamp.st_id }}">
                            <div class="pic"><img src="../assets/images/{{ stamp.photo_name}}" alt="image pour {{ stamp.st_title }}"></div>
                            <div class="txt">
                                <h3>{{ stamp.st_title|title }}</h3>
                                <p>{{ stamp.st_description }}</p>
                                <p class="price">Tirage: <span>{{ stamp.st_tirage}}</span></p>
                                {% if stamp.au_user_id != user.user_id %}
                                <a class="panier" href="{{ url_racine }}{{ user ? '/user/miser/' ~ stamp.st_au_id : '/user/login' }}">Placer un mise</a>
                                {% else %}
                                <a class="panier" href="{{ url_racine }}/stamp/modifier/{{ stamp.st_id }}"> Modifier </a>
                                {% endif %}
                            </div>
                        </a>
                        <div class="promo">{{ stamp.st_condition }}</div>
                    </article>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <!--footer-->
    <footer class="wrapper">
        <!--about-->
        <div>
            <dl>
                <dt>À PROPOS DE NOUS</dt>
                <dd><a href="#">Général</a></dd>
                <dd><a href="#">Sur Stampee</a></dd>
                <dd><a href="#">Annonces</a></dd>
                <dd><a href="#">Visitez-nous</a></dd>
            </dl>
        </div>
        <!--sitemap-->
        <div>
            <dl>
                <dt>PLAN DU SITE</dt>
                <dd><a href="{{ url_racine }}/">Accueil</a></dd>
                <dd><a class="active" href="{{ url_racine }}/stamp/lister">Timbres</a></dd>
                <dd><a href="{{ url_racine }}/auction/lister">Enchères</a></dd>
                <dd><a href="{{ url_racine }}/home/about">Sur nous</a></dd>
            </dl>
        </div>
        <!--moreinfo-->
        <div>
            <dl>
                <dt>PLUS D'INFORMATION</dt>
                <dd><a href="#">Politique de confidentialité</a></dd>
                <dd><a href="#">Pré-enchères</a></dd>
                <dd><a href="#">Pendant enchères</a></dd>
                <dd><a href="#">Après enchères</a></dd>
            </dl>
        </div>
        <!--contact-->
        <div>
            <dl>
                <dt>CONTACT</dt>
                <dd>Stampee LTD</dd>
                <dd>3-3333 PIE-IX</dd>
                <dd>Montréal, QC</dd>
                <dd><a href="#">services@stampee.ca</a></dd>
            </dl>
            <ul>
                <li><a href="#"><img src="../assets/icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="../assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="../assets/icons/youtube.svg" alt="youtube"></a></li>
                <li><a href="#"><img src="../assets/icons/instagram.svg" alt="instagram"></a></li>
            </ul>
        </div>
    </footer>
	<datalist id="liste-continents">
		<option value="Afrique"></option>
		<option value="Amérique"></option>
		<option value="Antarctique"></option>
        <option value="Asie"></option>
        <option value="Europe"></option>
        <option value="Océanie"></option>
	</datalist>
	<datalist id="liste-pays">
        <option value="Allemagne"></option>
        <option value="Australie"></option>
        <option value="Brésil"></option>
		<option value="Canada"></option>
        <option value="Chine"></option>
		<option value="Danemark"></option>
        <option value="Egypte"></option>
        <option value="États-Unis"></option>
		<option value="France"></option>
        <option value="Inde"></option>
        <option value="Japon"></option>
        <option value="Mexique"></option>
        <option value="Royaume-Uni"></option>
        <option value="Russie"></option>
        <option value="Suisse"></option>
        <option value="Viêt Nam"></option>
	</datalist>
    <datalist id="liste-condition">
		<option value="parfaite"></option>
		<option value="excellente"></option>
		<option value="bonne"></option>
        <option value="moyenne"></option>
        <option value="endommagé"></option>
	</datalist>
    <datalist id="liste-couleurs">
		<option value="bleu"></option>
		<option value="vert"></option>
		<option value="rouge"></option>
        <option value="noir"></option>
        <option value="violet"></option>
		<option value="brun"></option>
		<option value="jaune"></option>
	</datalist>
    <script>
        let list = document.getElementById('products').children;

        let stamp = {}; // empty variable to store the data

        //===============search=================

        let searchMot, hid;

        const searchBox = document.getElementById('searchBox');
        searchBox.addEventListener('change', searchFunction);
        searchBox.nextElementSibling.addEventListener('click', searchFunction);

        function searchFunction(){
            searchMot = searchBox.value.trim().toLowerCase();

            if (searchMot) {
                for (let i = 0 ; i < list.length ; i++){
                    if (list[i].style.display !=='none' ){  // get the items that are diplayed in the page
                        stamp = list[i].firstElementChild.getAttribute('data-stamp');
                        if ( !stamp.includes(searchMot) ) { list[i].style.display = 'none'; }
                    }
                }
            }
        }

        //===============filter=================
    
        let continent, pay, largeur, hauteur, condition, couleur, categorie; //inputs from the form 'filter'
    
        const frm = document.getElementById('formFilter');
        frm.addEventListener('change', filterFunction);
        frm.addEventListener('reset', resetFunction);
    
        //loop through the list to hide all unsearched items
        function filterFunction(){
            continent = document.getElementById('continent').value;
            pay = document.getElementById('pay').value;
            largeur = document.getElementById('largeur').value;
            hauteur = document.getElementById('hauteur').value;
            condition = document.getElementById('condition').value;
            couleur = document.getElementById('couleur').value;
            categorie = document.getElementById('categorie').value;
    
            for (let i = 0 ; i < list.length ; i++){
                stamp = JSON.parse(list[i].firstElementChild.getAttribute('data-stamp'));

                if ( continent && (continent.localeCompare(stamp.st_continent, undefined, {sensitivity: 'base'}) !== 0) ) { list[i].style.display = 'none'; }
                if ( pay && (pay.localeCompare(stamp.st_country, undefined, {sensitivity: 'base'}) !== 0) ) { list[i].style.display = 'none'; }
                if ( largeur && ( parseInt(largeur) > parseInt(stamp.st_width) )){ list[i].style.display = 'none'; }
                if ( hauteur && ( parseInt(hauteur) > parseInt(stamp.st_height) )){ list[i].style.display = 'none'; }
                if ( condition && ( condition.localeCompare(stamp.st_condition, undefined, {sensitivity: 'base'}) !== 0 )){ list[i].style.display = 'none'; }
                if ( couleur && ( couleur.localeCompare(stamp.st_color, undefined, {sensitivity: 'base'}) !== 0 )){ list[i].style.display = 'none'; }
                if ( categorie && ( categorie.localeCompare(stamp.st_cat_id, undefined, {sensitivity: 'base'}) !== 0 )){ list[i].style.display = 'none'; }
            }
        }
    
        function resetFunction(){
            searchBox.value = '';
            
            for (let i = 0 ; i < list.length ; i++){
                list[i].style.display = '';
            }
        }
    </script>
</body>
</html>