<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="projet1-stampee">
    <title>TIMBRE</title>
    <link rel="stylesheet" href="../../assets/css/products.css">
    <style>
        .box {
            position: relative;
        }
        .mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 145px;
            height: 100px;
            background-color: var(--blue);
            opacity: 0.4;
            display: none;    /* display only when mouse over */
        }
        .zoom {
            position: absolute;
            overflow: hidden;
            width: 580px;
            height: 400px;
            top: 0px;
            left: 300px;
            display: none;    /* display only when mouse over */
        }
        .zoom img{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 870px;
            max-height: 600px;
        }
    </style>
</head>
<body>
    <!--top-menu-->
    <nav class="wrapper">
        <ul>
            <li class="{{ user ? '' : 'hide' }}"><a href="{{ url_racine }}/user/profil"><img src="../../assets/icons/account.svg" alt="account"><span>{{ user.user_prenom|title }} {{ user.user_nom|title }}</span></a></li>
            <li class="{{ user ? '' : 'hide' }}"><a href="{{ url_racine }}/user/login">DÉCONNECTER</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="{{ url_racine }}/user/login">CONNEXION</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="{{ url_racine }}/user/signup">INSCRIPTION</a></li>
            <li><a href="#">CONTACTEZ-NOUS</a></li>
            <li><a href="#"><img src="../../assets/icons/language.svg" alt="language"><span class="active">FR</span></a></li>
        </ul>
    </nav>
    <!--header--main-menu-->
    <header class="wrapper">
        <!--logo-->
        <div class="logo">
            <h1><a href="{{ url_racine }}/">Stampee</a></h1>
        </div>
        <!--nav-->
        <div class="headerNav">
            <ul>
                <li><a class="active" href="{{ url_racine }}/stamp/lister">TIMBRES</a></li>
                <li><a href="{{ url_racine }}/auction/lister">ENCHÈRES</a></li>
                <li><a href="{{ url_racine }}/home/about">SUR NOUS</a></li>
            </ul>
        </div>
        <!--search-->
        <div class="headerSearch">
            <input type="text" placeholder="search">
            <a href="#"></a>
        </div>
        <!--notification-->
        <div class="notification">
            <a href="#"></a>
            <div class="number">5</div>
        </div>
    </header>
    <!--breadcrumb-->
    <aside class="breadcrumb wrapper">
        <ul>
            <li><a href="{{ url_racine }}/">ACCUEIL</a> ></li>
            <li><a href="{{ url_racine }}/stamp/lister">TIMBRES</a> ></li>
            <li><a class="active" href="{{ url_racine }}/stamp/instance/{{ st_id }}">Timbre {{ st_id }}</a></li>
        </ul>
    </aside>
    <!--main-->
    <main class="wrapper content">
        <!--stamp-->
        <article>
                <div class="box">
                    <div class="pic"><img src="../../assets/images/{{ stamp.photo_name }}" alt="image pour {{ stamp.st_title }}"><div class="mask"></div></div>
                    <div class="zoom"><img src="../../assets/images/{{ stamp.photo_name }}" alt="image large pour {{ stamp.st_title }}"></div>
                </div>
                <div class="txt">
                    <h3>{{ stamp.st_title|title }} {{ stamp.au_user_id }} {{ user.user_id }}</h3>
                    <p>Description: {{ stamp.st_description }}</p>
                    <p>Couleur: {{ stamp.st_color|title }}</p>
                    <p>Pays d’origine: {{ stamp.st_country|title }}</p>
                    <p>Condition: {{ stamp.st_condition|title }}</p>
                    <p>Tirage: {{ stamp.st_tirage }}</p>
                    <p>Largeur: {{ stamp.st_width }} centimètres</p>
                    <p>Hauteur: {{ stamp.st_height }} centimètres</p>
                    <p>Certifié: {% if stamp.st_certifie > 0 %} Oui {% else %} Non {% endif %}</p>
                    {% if stamp.au_user_id != user.user_id %}
                    <a class="panier" href="{{ url_racine }}/user/miser/{{ stamp.st_au_id }}"> Placer un mise </a>
                    {% else %}
                    <a class="panier" href="{{ url_racine }}/stamp/modifier/{{ stamp.st_id }}"> Modifier </a>
                    <a class="panier" href="{{ url_racine }}/stamp/supprimer/{{ stamp.st_id }}"> Supprimer </a>
                    {% endif %}
                    <p><!--empty for test--></p>
                </div>
        </article>
    </main>
    <!--footer-->
    <footer class="wrapper">
        <!--about-->
        <div>
            <dl>
                <dt>À PROPOS DE NOUS</dt>
                <dd><a href="#">Général</a></dd>
                <dd><a href="#">Sur Stampee</a></dd>
                <dd><a href="#">Annonces</a></dd>
                <dd><a href="#">Visitez-nous</a></dd>
            </dl>
        </div>
        <!--sitemap-->
        <div>
            <dl>
                <dt>PLAN DU SITE</dt>
                <dd><a href="{{ url_racine }}/">Accueil</a></dd>
                <dd><a class="active" href="{{ url_racine }}/stamp/lister">Timbres</a></dd>
                <dd><a href="{{ url_racine }}/auction/lister">Enchères</a></dd>
                <dd><a href="{{ url_racine }}/home/about">Sur nous</a></dd>
            </dl>
        </div>
        <!--moreinfo-->
        <div>
            <dl>
                <dt>PLUS D'INFORMATION</dt>
                <dd><a href="#">Politique de confidentialité</a></dd>
                <dd><a href="#">Pré-enchères</a></dd>
                <dd><a href="#">Pendant enchères</a></dd>
                <dd><a href="#">Après enchères</a></dd>
            </dl>
        </div>
        <!--contact-->
        <div>
            <dl>
                <dt>CONTACT</dt>
                <dd>Stampee LTD</dd>
                <dd>3-3333 PIE-IX</dd>
                <dd>Montréal, QC</dd>
                <dd><a href="#">services@stampee.ca</a></dd>
            </dl>
            <ul>
                <li><a href="#"><img src="../../assets/icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="../../assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="../../assets/icons/youtube.svg" alt="youtube"></a></li>
                <li><a href="#"><img src="../../assets/icons/instagram.svg" alt="instagram"></a></li>
            </ul>
        </div>
    </footer>
<script>
    const box = document.querySelector('.box');
    const mask = document.querySelector('.mask');
    const zoom = document.querySelector('.zoom');
    const zoomImg = document.querySelector('.zoom>img');

    window.addEventListener('load', function(){

        box.addEventListener('mouseover', function(){
            mask.style.display = 'block';
            zoom.style.display = 'block';
        });
        box.addEventListener('mouseout', function(){
            mask.style.display = 'none';
            zoom.style.display = 'none';
        });
        box.addEventListener('mousemove', function(e){
            //position of mouse-pointer
            var x = e.pageX - this.offsetLeft;
            var y = e.pageY - this.offsetTop;
            //position of mask
            var maskX = x - mask.offsetWidth/2;
            var maskY = y - mask.offsetHeight/2;
            //movement range of mask
            var maskWidth = box.offsetWidth - mask.offsetWidth;
            var maskHeight = box.offsetHeight - mask.offsetHeight;
            if ( maskX <= 0){
                maskX = 0;
            }else if ( maskX >= maskWidth ){
                maskX = maskWidth;
            }
            if ( maskY <= 0){
                maskY = 0;
            }else if ( maskY >= maskHeight ){
                maskY = maskHeight;
            }
            mask.style.left = maskX + 'px';
            mask.style.top = maskY + 'px';

            //movement of zoom image
            var zoomX = maskX * (zoomImg.offsetWidth - zoom.offsetWidth) / (box.offsetWidth - zoom.offsetWidth);
            var zoomY = maskY * (zoomImg.offsetHeight - zoom.offsetHeight) / (box.offsetHeight - zoom.offsetHeight);
            zoomImg.style.left = zoomX + 'px';
            zoomImg.style.top = zoomY + 'px';
        });
    });
</script>
</body>
</html>