<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="projet1-stampee">
    <title>ACCUEIL</title>
    <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
    <!--top-menu-->
    <nav class="wrapper">
        <ul>
            <li class="{{ user ? '' : 'hide' }}"><a href="/user/profil"><img src="assets/icons/account.svg" alt="account"><span>{{ user.user_prenom|title }} {{ user.user_nom|title }}</span></a></li>
            <li class="{{ user ? '' : 'hide' }}"><a href="/user/login">DÉCONNECTER</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="/user/login">CONNEXION</a></li>
            <li class="{{ user ? 'hide' : '' }}"><a href="/user/signup">INSCRIPTION</a></li>
            <li><a href="#">CONTACTEZ-NOUS</a></li>
            <li><a href="#"><img src="assets/icons/language.svg" alt="language"><span class="active">FR</span></a></li>
        </ul>
    </nav>
    <!--header--main-menu-->
    <header class="wrapper">
        <!--logo-->
        <div class="logo">
            <h1><a href="/">Stampee</a></h1>
        </div>
        <!--nav-->
        <div class="headerNav">
            <ul>
                <li><a href="/stamp/lister">TIMBRES</a></li>
                <li><a href="/auction/lister">ENCHÈRES</a></li>
                <li><a href="/home/about">SUR NOUS</a></li>
            </ul>
        </div>
        <!--search-->
        <div class="headerSearch">
            <input type="text" placeholder="search">
            <a href="#"></a>
        </div>
        <!--notification-->
        <div class="notification">
            <a href="#"></a>
            <div class="number">5</div>
        </div>
    </header>
    <!--breadcrumb-->
    <aside class="breadcrumb wrapper">
        <ul>
            <li><a class="active" href="/">ACCUEIL</a></li>
        </ul>
    </aside>
    <!--banner-->
    <section class="banner wrapper">
        <!--picture-->
        <div class="picture">
            <a href="#"><img src="assets/images/banner.webp" alt="banner"></a>
        </div>
        <!--side-nav-->
        <div class="bannertext">
            <h2>Bienvenue chez Stampee !</h2>
            <p>Un endroit idéal pour développer votre collection de timbres.</p>
            <a href="/auction/lister">EN SAVOIR PLUS</a>
        </div>
    </section>
    <!--main-->
    <main class="wrapper">
        <!--title-->
        <div class="title">
            <div class="left"><h3>TIMBRES</h3></div>
            <div class="right"><a href="/stamp/lister">afficher plus ></a></div>
        </div>
        <!--content-->
        <div class="content">
            <ul>
                {% for stamp in stamps %}
                <li>
                    <a href="/stamp/instance/{{ stamp.st_id }}">
                        <div class="pic"><img src="assets/images/{{ stamp.photo_name }}" alt="image pour {{ stamp.st_title }}"></div>
                        <div class="txt">
                            <h3>{{ stamp.st_title|title }}</h3>
                            <p>{{ stamp.st_description }}</p>
                            <p class="price">Tirage: <span>{{ stamp.st_tirage}}</span></p>
                        </div>
                    </a>
                    <div class="promo">{{ stamp.st_condition }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!--title-->
        <div class="title">
            <div class="left"><h3>ENCHÈRES</h3></div>
            <ul>
                <li><a class="active" href="#">décembre</a></li>
                <li><a href="#">janvier</a></li>
                <li><a href="#">février</a></li>
            </ul>
            <div class="right"><a href="/auction/lister">afficher plus ></a></div>
        </div>
        <!--content-->
        <div class="content">
            <ul>
                {% for auction in auctions %}
                <li>
                    <a href="/auction/instance/{{ auction.au_id }}">
                        <div class="pic"><img src="../assets/images/{{ auction.photo_name }}" alt="image pour {{ auction.st_title }}"></div>
                        <div class="txt">
                            <h3>Heure de début:<br> {{ auction.au_start_date }}</h3>
                            <p>Ouvert pour miser jusqu'à <span>{{ auction.au_end_date }}</span></p>
                            <p class="price">Prix de départ: <span>{{ auction.au_prix_plancher }}</span> $</p>
                        </div>
                    </a>
                    {% if auction.au_lord %}
                    <div class="promo">Coups de coeur de Lord</div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <!--presentation-->
    <section class="presentation wrapper">
        <h2>Présentation Sommaire de Lord Stampee</h2>
        <p>Lord Reginald Stampee, duc de Worcessteshear et philatéliste depuis sa tendre enfance au milieu des années cinquante, 
           décide de faire le pas dans le numérique et étendre au-delà du Royaume-Uni ses fameuses enchères de timbres qui font accourir les plus grands philatélistes du monde.</p>
        <p>Ce site « Stampee » est un magazine canadien spécialisé dans le commerce et les enchères de timbres. 
           Stampee a établi 6 clubs de philatélie à travers Canada, qui fournit un marché stable hors ligne. 
           Avec la popularité de NFT, Stampee libère un nouveau marché NFT pour ses collections de timbres. 
           Ce faisant, Stampee espère protéger la beauté des timbres fragiles et apporter leur beauté aux amateurs de timbres du monde entier.</p>
    </section>
    <!--location-->
    <!--location-->
    <section class="location wrapper">
        <a href="#"><h3>Trouver un club Stampee</h3></a>
        <ul>
            <li><a href="#">Alberta</a></li>
            <li><a href="#">Colombie-Britannique</a></li>
            <li><a href="#">Manitoba</a></li>
            <li><a href="#">Nouveau-Brunswick</a></li>
            <li><a href="#">Ontario</a></li>
            <li><a href="#">Québec</a></li>
        </ul>
    </section>
    <!--footer-->
    <footer class="wrapper">
        <!--about-->
        <div>
            <dl>
                <dt>À PROPOS DE NOUS</dt>
                <dd><a href="#">Général</a></dd>
                <dd><a href="#">Sur Stampee</a></dd>
                <dd><a href="#">Annonces</a></dd>
                <dd><a href="#">Visitez-nous</a></dd>
            </dl>
        </div>
        <!--sitemap-->
        <div>
            <dl>
                <dt>PLAN DU SITE</dt>
                <dd><a class="active" href="/">Accueil</a></dd>
                <dd><a href="/stamp/lister">Timbres</a></dd>
                <dd><a href="/auction/lister">Enchères</a></dd>
                <dd><a href="/home/about">Sur nous</a></dd>
            </dl>
        </div>
        <!--moreinfo-->
        <div>
            <dl>
                <dt>PLUS D'INFORMATION</dt>
                <dd><a href="#">Politique de confidentialité</a></dd>
                <dd><a href="#">Pré-enchères</a></dd>
                <dd><a href="#">Pendant enchères</a></dd>
                <dd><a href="#">Après enchères</a></dd>
            </dl>
        </div>
        <!--contact-->
        <div>
            <dl>
                <dt>CONTACT</dt>
                <dd>Stampee LTD</dd>
                <dd>3-3333 PIE-IX</dd>
                <dd>Montréal, QC</dd>
                <dd><a href="#">services@stampee.ca</a></dd>
            </dl>
            <ul>
                <li><a href="#"><img src="assets/icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="assets/icons/youtube.svg" alt="youtube"></a></li>
                <li><a href="#"><img src="assets/icons/instagram.svg" alt="instagram"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>