@import url(general.css);
@import url(nav.css);
@import url(header.css);
@import url(breadcrumb.css);
@import url(filter.css); /*only the products page has filter*/
@import url(title.css);
@import url(content.css);
@import url(footer.css);


/***below is the content specific to products page***/

/*main*/
main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/*rewrite from content.css*/
.content {
    flex: 1;
}
.content li {
    height: 425px;
}

/*panier*/
.panier {
    display: inline-block;
    background-color: var(--blue);
    color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.33);
    padding: 10px;
}

.panier:hover {
    background-color: var(--red);
    transition: 0.8s;
}

/*button to change grid vs list*/
.grid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.grid button {
	appearance: none;
	border: none;
	padding: 5px;
	background-color: #999;
    color: white;
	border-radius: 3px; 
    font-size: var(--h6);
}

/*responsive*/
@media screen and (max-width: 1160px) {
    section > .content ul {
        flex-wrap: wrap;
    }
}