<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="projet1-stampee">
    <title>Mon Profil</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <!--top-menu-->
    <nav class="wrapper">
        <ul>
            <li><a href="/user/profil"><img src="../assets/icons/account.svg" alt="account"><span>{{ user.user_prenom|title }} {{ user.user_nom|title }}</span></a></li>
            {% if user.role is defined and user.role != "membre" %}
            <li><a href="/user/admin">ADMIN</a></li>
            {% endif %}
            <li><a href="/user/login">DÉCONNECTER</a></li>
            <li><a href="#">CONTACTEZ-NOUS</a></li>
            <li><a href="#"><img src="../assets/icons/language.svg" alt="language"><span class="active">FR</span></a></li>
        </ul>
    </nav>
    <!--header--main-menu-->
    <header class="wrapper">
        <!--logo-->
        <div class="logo">
            <h1><a href="/">Stampee</a></h1>
        </div>
        <!--nav-->
        <div class="headerNav">
            <ul>
                <li><a href="/stamp/lister">TIMBRES</a></li>
                <li><a href="/auction/lister">ENCHÈRES</a></li>
                <li><a href="/home/about">SUR NOUS</a></li>
            </ul>
        </div>
        <!--search-->
        <div class="headerSearch">
            <input type="text" placeholder="search">
            <a href="products.html"></a>
        </div>
        <!--notification-->
        <div class="notification">
            <a href="#"></a>
            <div class="number">5</div>
        </div>
    </header>
    <!--main-->
    <main class="wrapper">
        <!--title-->
        <div class="title">
            <div class="left"><h3>ENCHÈRES</h3></div>
            <a class="ajouter" href="/auction/ajouter">ajouter une enchère</a>
        </div>
        {% if auctions|length > 0 %}
        {% for auction in auctions %}
        <!--title-->
        <div class="title">
            <div class="left"><h3>MA ENCHÈRE {{ auction.au_id }}</h3></div>
            <a class="ajouter" href="/stamp/ajouter/{{ auction.au_id }}">Ajouter timbre</a>
            <div>
                <a class="ajouter" href="/auction/modifier/{{ auction.au_id }}">Modifier</a>
                <a class="ajouter" href="/auction/supprimer/{{ auction.au_id }}">Supprimer</a>
            </div>
        </div>
        <!--content-->
        <div class="content">
            <ul>                
                {% for stamp in stamps %}
                {% if stamp.st_au_id == auction.au_id %}
                <li>
                    <a href="/stamp/instance/{{ stamp.st_id }}">
                        <div class="pic"><img src="../assets/images/{{ stamp.photo_name}}" alt="image pour {{ stamp.st_title }}"></div>
                        <div class="txt">
                            <h3>{{ stamp.st_title|title }}</h3>
                            <p>{{ stamp.st_description }}</p>
                            <p>
                                <a class="ajouter" href="/stamp/modifier/{{ stamp.st_id }}"> Modifier </a>
                                <a class="ajouter" href="/stamp/supprimer/{{ stamp.st_id }}"> Supprimer </a>
                            </p>
                        </div>
                    </a>
                    <div class="promo">{{ stamp.st_condition }}</div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% endif %}
    </main>
    <!--footer-->
    <footer class="wrapper">
        <!--about-->
        <div>
            <dl>
                <dt>À PROPOS DE NOUS</dt>
                <dd><a href="#">Général</a></dd>
                <dd><a href="#">Sur Stampee</a></dd>
                <dd><a href="#">Annonces</a></dd>
                <dd><a href="#">Visitez-nous</a></dd>
            </dl>
        </div>
        <!--sitemap-->
        <div>
            <dl>
                <dt>PLAN DU SITE</dt>
                <dd><a href="/">Accueil</a></dd>
                <dd><a href="/stamp/lister">Timbres</a></dd>
                <dd><a href="/auction/lister">Enchères</a></dd>
                <dd><a href="#">Sur nous</a></dd>
            </dl>
        </div>
        <!--moreinfo-->
        <div>
            <dl>
                <dt>PLUS D'INFORMATION</dt>
                <dd><a href="#">Politique de confidentialité</a></dd>
                <dd><a href="#">Pré-enchères</a></dd>
                <dd><a href="#">Pendant enchères</a></dd>
                <dd><a href="#">Après enchères</a></dd>
            </dl>
        </div>
        <!--contact-->
        <div>
            <dl>
                <dt>CONTACT</dt>
                <dd>Stampee LTD</dd>
                <dd>3-3333 PIE-IX</dd>
                <dd>Montréal, QC</dd>
                <dd><a href="#">services@stampee.ca</a></dd>
            </dl>
            <ul>
                <li><a href="#"><img src="../assets/icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="../assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="../assets/icons/youtube.svg" alt="youtube"></a></li>
                <li><a href="#"><img src="../assets/icons/instagram.svg" alt="instagram"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>